<div class="col-sm-12">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="/menu">Home</a>
    </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/statistics" class="glyphicon glyphicon-stats">Analytics</a></li>
                <li><a href="/users" class="glyphicon glyphicon-user">Users</a></li>
                <li><a href="/orders/all" class="glyphicon glyphicon-cutlery">Orders</a></li>
                <li><a href="/products/api" class="glyphicon glyphicon-glass">Products</a></li>
                <li><a href="/tables/api" class="glyphicon glyphicon-unchecked">Tables</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><b>Logout</b></a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
