<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <% include partials/bootstrap %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar_admin %>
    <div id="all">
        
    </div>
    <style>
        body {
            background-image: url("/img/boss.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            position: relative;
            /*opacity: 0.65;*/
            background-position: center;
            background-size: auto;
        }    
    </style>
</body>
</html>


