<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
  
    <% include partials/bootstrap %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar_user %>
    <br><br><br><br>
    <h1 id="hello">Hello <%= user.first_name + ' ' + user.last_name %>!</h1>
    <h3 id="hello">Welcome back.</h3>
    <div id="all">
        <br><br><br><br><br><br>
        <form action="/orders/new" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">New order</button>
            <br>
        </form>
        <form action="/orders/existing" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Existing order on table</button>
            <br>
        </form>
    </div>    
</body>
<style>
    #hello {
        /*color: white;*/
        text-align: center;
    }
</style>
</html>


