<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/indexAdmin.css">
    <% include partials/bootstrap %>
    <title><%= title %></title>
</head>
<body>
    <% include partials/navbar_admin %>
    <div id="all">
        <br><br><br>
        <h1 align="center"><b>Analytics</b></h1>
        <br><br><br>
        <form action="/statistics/report1" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Daily amount comparation 2017/2018</button>
        </form>
        <br>
        <form action="/statistics/report2" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Weekly amount comparation 2017/2018</button>
        </form>
        <br>
        <form action="/statistics/report3" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Ranking list of waiters</button>
        </form>
        </br>
        <form action="/statistics/report4" method="get">
            <button type="submit" class="btn btn-secondary btn-lg btn-block">Top 10 best-selling products</button>
        </form>
    </div>    
</body>
</html>


